body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    font-family: Tahoma;
    background-color: lightgray;
}

p {
    font-size: 0.9vw;
}

h1, h2, h3, h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 60vw;

    border-radius: 10px;
    background-color: white;
}

.mainContainer h1 {
    margin-bottom: 1%;

    font-size: 2.5vw;
    letter-spacing: 1vw;
}

.mainContainer h3 {
    font-size: 1.5vw;
    letter-spacing: 0.3vw;
}

.mainContainer h4 {
    font-size: 1.1vw;
    letter-spacing: 0.2vw;
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    justify-content: space-between;
    justify-items: center;

    width: 48%;
    height: 88%;

    border-right: 1px black solid;

}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    justify-content: space-between;
    justify-items: center;

    width: 48%;
    height: 88%;

    margin-left: 2%;
}

.imgContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.certificateContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.imgContainer img {
    margin-top: 6%;
    width: 12vw;

    border-radius: 10px;
    border: 1px black solid;

}

.certificateContainer img {
    width: 47%;

    margin-bottom: 2%;

    border-radius: 10px;
    border: 1px black solid;

}

@media (max-width: 1025px) {
    .mainContainer {

        width: 90vw;

    }

}