body,.mainContainer,.aboutMe,.contacts,.imgContainer,.certificateContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
body{
    font-family: Tahoma;
    background-color: lightgray;
    justify-content: center;
}

p {
    font-size: 0.9vw;
}

h1, h2, h3, h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.mainContainer {
    width: 60vw;

    border-radius: 10px;
    background-color: white;
}

.mainContainer h1 {
    margin-bottom: 1%;

    font-size: 2.5vw;
    letter-spacing: 0.5vw;
}

.mainContainer h3 {
    font-size: 1.5vw;
    letter-spacing: 0.3vw;
}

.mainContainer h4 {
    font-size: 1.1vw;
    letter-spacing: 0.2vw;
}

.aboutMe {
    width: 48%;
    height: 90%;

    border-right: 1px black solid;
}

.contacts {
    width: 48%;
    height: 90%;

    margin-left: 2%;
}

.imgContainer,.certificateContainer {
    width: 100%;

}

.imgContainer img {
    margin-top: -53%;
    width: 12vw;

    border-radius: 10px;
    border: 1px black solid;

}

.certificateContainer img {
    width: 47%;

    margin-bottom: 2%;
    margin-right: 2%;

    border-radius: 10px;

    border: 1px black solid;

}

@media (max-width: 1025px) {
    p{
        font-size: 1.5vw;
    }
    .mainContainer {

        width: 90vw;

    }
    .aboutMe{
        width: 90%;
        height: 47%;
        border: none;
    }
    .contacts{
        width: 90%;
    }
    .imgContainer img {
        margin-top: 1%;
        width: 30vw;

        border-radius: 10px;
        border: 1px black solid;

    }
    .imgContainer {
        width: 100%;

    }

}